.back-baby {
  position:relative;
  margin:50px auto 25px;
  width:500px;
  border-radius:15px;
  border:1px solid rgba(var(--gray));
  color:rgba(var(--black));
  font-family:urbanist;
  font-weight:400;
  font-size:15.5px;
  line-height:24px;

  
  --white: 231,231,231;
  --gray: 201,201,201;
  --black:69,69,69; 
}

.back-baby a:hover {
  cursor:crosshair;
}

.bb-icon {
  width:75px;
  height:75px;
  background:rgba(var(--g1));
  background:linear-gradient(to bottom right, rgba(var(--g1)), rgba(var(--g2)));
  transform:rotate(45deg);
  border-radius:45px;
  border:30px solid rgba(var(--white));
  position:absolute;
  left:-45px;
  top:-45px;
}

.bb-icon:before {
  content:var(--unicode);
  font-family:pandora-box;
  display:block;
  width:75px;
  height:75px;
  transform:rotate(-45deg);
  text-align:center;
  line-height:75px;
  font-size:35px;
  color:rgba(var(--white),  0.9);
  text-shadow:-1px 0 rgba(var(--g2)), 0 1px rgba(var(--g2)), 1px 0 rgba(var(--g2)), 0 -1px rgba(var(--g2));
}

#sonnet.bb-icon {
  width:75px;
  height:75px;
  background:rgba(var(--g1));
  background:linear-gradient(to bottom right, rgba(var(--g1)), rgba(var(--g2)));
  transform:rotate(45deg);
  border-radius:45px;
  border:30px solid rgba(var(--white));
  position:absolute;
  left:-45px;
  top:-45px;
}

#sonnet.bb-icon:before {
  content:var(--unicode);
  font-family:starry;
  display:block;
  width:75px;
  height:75px;
  transform:rotate(-45deg);
  text-align:center;
  line-height:75px;
  font-size:35px;
  color:rgba(var(--white),  0.9);
  text-shadow:-1px 0 rgba(var(--g2)), 0 1px rgba(var(--g2)), 1px 0 rgba(var(--g2)), 0 -1px rgba(var(--g2));
}

.bb-body {
  padding:60px 60px 85px;
  margin:20px 20px 20px 20px;
  border:1px solid rgba(var(--gray));
  border-radius:15px;
}

.bb-body b {
  font-weight:700;
  color: rgba(var(--g1));
  background: -webkit-linear-gradient(bottom left, rgba(var(--g1)), rgba(var(--g2)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bb-body b i {
  opacity:1;
}

.bb-body i {
  opacity:0.75;
}

.bb-body u {
  text-decoration:none;
  border-bottom:1px solid rgba(var(--gray));
  font-weight:600;
}

.bb-body hr {
  height:1px;
  border:none;
  background:rgba(var(--gray));
  margin:35px 125px;
}

.bb-body span.dice-roll {
  background:rgba(var(--gray), 0.5);
  background:linear-gradient(to bottom right, rgba(var(--gray)), rgba(var(--gray), 0.5));
  padding:10px;
  border-radius:7.5px;
  display:inline-block;
  margin:0px 5px 0px 0px;
  font-size:12.5px;
  line-height:12.5px;
  height:12.5px;
  text-transform:uppercase;
}

.bb-date {
  display:block;
  text-align:right;
  position:relative;
  top:-30px;
  text-transform:uppercase;
  font-weight:300;
  color:rgba(var(--g1), 0.75);
  font-size:16px;
}

.bb-date b {
  margin-right:4px;
}

.bb-tag {
  position:relative;
  display:flex;
  flex-wrap:wrap;
  justify-content:left;
  gap:5px;
  margin-top:-155px;
  right:-60px;
  top:165px;
  width:300px;
  padding:30px;
  border:30px solid rgba(var(--white));
  background:rgba(var(--black));
  background:linear-gradient(to bottom left, rgba(var(--black)), rgba(var(--black), 0.85));
  border-radius:45px;
  color:rgba(var(--white));
  line-height:20px;
}

.bb-tag notes {
  font-size:13.5px;
  color:rgba(var(--white), 0.9);
}

.bb-tag:before {
  content:'';
    position: absolute;
    top: -23px;
    right: 70px;
    display: inline-block;
    height: 25px;
    width: 20px;
    border-right: 10px solid rgba(var(--black));
    border-top-right-radius: 50px;
    z-index: 2;
}

.bb-tag a.user-tagged {
  text-transform:uppercase;
  font-weight:600;
  letter-spacing:.5px;
  font-size:11.5px;
  color:rgba(var(--white), 0.9);
  text-shadow:-1px 0 rgba(var(--g1)), 0 1px rgba(var(--g1)), 1px 0 rgba(var(--g1)), 0 -1px rgba(var(--g1));
  margin:0px;
  opacity:1;
  transition:ease-in-out;
  transition-duration:0.5s;
}

.bb-tag a.user-tagged:before {
  content:'[';
  color:rgba(var(--g1));
  margin-right:5px;
  text-shadow:none;
  position:relative;
  border:none;
  left:0px;
  top:0px;
}

.bb-tag a.user-tagged:after {
  content:']';
  color:rgba(var(--g1));
  margin-left:5px;
  text-shadow:none;
  display:inline-block;
  position:relative!important;
  border:none;
  left:0px;
  top:0px;
}

.bb-tag a.user-tagged:hover {
  letter-spacing:1px;
}

.bb-tag a, .bb-body a {
  text-decoration:none;
  position:relative;
  margin:0px 5px;
  font-size:12.5px;
  text-transform:uppercase;
  opacity:0.9;
  transition:ease-in-out;
  transition-duration:0.5s;
}

.bb-tag a:hover, .bb-body a:hover {
  opacity:1;
}

.bb-body a {
  color:rgba(var(--black), 0.9);
  text-shadow:none;
  font-weight:900;
}

.bb-tag a {
  color:rgba(var(--white), 0.9)!important;
  text-shadow:-1px 0 rgba(var(--g1)), 0 1px rgba(var(--g1)), 1px 0 rgba(var(--g1)), 0 -1px rgba(var(--g1));
  letter-spacing:0.5px;
  font-weight:600;
  font-size:11.5px;
}

.bb-tag a:before, .bb-body a:before {
  content:'';
  position:absolute;
  height:15px;
  border-radius:100%;
  border:1px solid rgba(var(--g1));
  border-top:0px;
  border-bottom:2px solid rgba(var(--g1));
  transform:rotate(-6deg);
  left:-6px;
  right:-5px;
  top:0px;
}

/******* COLORS & UNICODES - MEADOW *******/

#aimee {
  --g1:200,154,200;
  --g2:177,154,200;
  --unicode:'\e00e';
}

#donny {
  --g1:202,171,104;
  --g2:170,135,60;
  --unicode:'\e900';
}

#edison {
  --g1:152,120,133;
  --g2:97,86,105;
  --unicode:'\e901';
}

#oli {
  --g1:195,151,172;
  --g2:190,111,153;
  --unicode:'\e00d';
}

#kit {
  --g1:121,157,125;
  --g2:93,132,128;
  --unicode:'\e103';
}

/******* UNICODES - SONNET *******/

#egypt {
  --unicode:'\a127';
}

#lune {
  --unicode:'\a46';
}

#milou {
  --unicode:'\e900';
}

#rome {
  --unicode:'\a27';
}

#violet {
  --unicode:'\a131';
}
