/********** BANNER AREA **********/

#costar-1.cos-circle1:after {
  --unicode: '\e900';
}

#costar-2.cos-circle2:before {
  --unicode: '\e900';
}

#costar-2.cos-circle2:after {
  --unicode: '\e900';
}

#gfox.rep-lead:before, #gfox.rep-back:before {
    --unicode: '\e921';
}
#lfrog.rep-lead:before, #lfrog.rep-back:before  {
    --unicode: '\e922';
}
#tbird.rep-lead:before, #tbird.rep-back:before {
    --unicode: '\e91f';
}
#sbeetle.rep-lead:before, #sbeetle.rep-back:before {
    --unicode: '\e91e';
}
#wdeer.rep-lead:before, #wdeer.rep-back:before {
    --unicode: '\e920';
}

/********** ABOUT AREA **********/

.cos-about:after {
  --unicode: '\e900';
}

.mlb-line:before, .mlb-line2:before, .mlb-line3:before {
  --unicode: '\e900';
}

.cos-guidebox:before {
  --unicode: '\e90d';
}

.cos-updates:before {
  --unicode: '\e91d';
}

.cos-upcirc:after {
  --unicode: '\e900';
}

.cos-infowrap ul li:before {
  content:'\e900'; }

.oaw-appbio text ul li:before {
  content:'\e900'; }

.topic-desc:before {
  content:'\e900';
}

/********** APPLICATION **********/

.oaw-apptl ul li:before {
  content:'\e900';
}

.oaw-appbio text hr:before {
    content:'\e900';
}

#validating .oaw-apptop:before {
  content:'\e92b';
}

#grayfox .oaw-apptop:before {
  content:'\e923';
}

#leaffrog .oaw-apptop:before {
  content:'\e924';
}

#stagbeetle .oaw-apptop:before {
  content:'\e925';
}

#tailorbird .oaw-apptop:before {
  content:'\e92c';
}

#whitetaildeer .oaw-apptop:before {
  content:'\e913';
}

#faculty .oaw-apptop:before {
  content:'\e927';
}

#ortensia .oaw-apptop:before {
  content:'\e928';
}

#civilian .oaw-apptop:before {
  content:'\e926';
}

/********** TRACKER FONT ICONS **********/

.cozt-track #se:before {
  content:'\e917'!important;
}
.cozt-track #me:before {
  content:'\e916'!important;
}
.cozt-scroll span:before {
  content:'\e900';
}
.cozt-scroll #fm:before { /* family */
  content:'\a54'!important;
}
.cozt-scroll #fr:before { /* friend */
  content:'\a39'!important;
}
.cozt-scroll #rm:before { /* romantic */
  content:'\a94'!important;
}
.cozt-scroll #en:before { /* enemy */
  content:'\a11'!important;
}
.cozt-track .status.myturn:before {
  content:'\e901'!important;
}
