/********** BANNER AREA **********/

#costar-1.cos-circle1:after {
  --unicode: '\e900';
}

#costar-2.cos-circle2:before {
  --unicode: '\e900';
}

#costar-2.cos-circle2:after {
  --unicode: '\e900';
}

/********** ABOUT AREA **********/

.cos-about:after {
  --unicode: '\e900';
}

.mlb-line:before, .mlb-line2:before, .mlb-line3:before {
  --unicode: '\e900';
}
