/********** BANNER AREA **********/

#costar-1.cos-circle1:after {
  --unicode: '\e900';
}

#costar-2.cos-circle2:before {
  --unicode: '\e900';
}

#costar-2.cos-circle2:after {
  --unicode: '\e900';
}

#gfox.rep-lead:before, #gfox.rep-back:before {
    --unicode: '\e921';
}
#lfrog.rep-lead:before, #lfrog.rep-back:before  {
    --unicode: '\e922';
}
#tbird.rep-lead:before, #tbird.rep-back:before {
    --unicode: '\e91f';
}
#sbeetle.rep-lead:before, #sbeetle.rep-back:before {
    --unicode: '\e91e';
}
#wdeer.rep-lead:before, #wdeer.rep-back:before {
    --unicode: '\e920';
}

/********** ABOUT AREA **********/

.cos-about:after {
  --unicode: '\e900';
}

.mlb-line:before, .mlb-line2:before, .mlb-line3:before {
  --unicode: '\e900';
}

.cos-guidebox:before {
  --unicode: '\e90d';
}
