#clny-ql label:before {
  --unicode:'\e66c';
}

#clny-ql input:checked+label:before {
  --unicode:'\e66a';
}

#clny-cal event:before {
  --unicode:'\e3fe';
}

#clny-cal end:before {
  --unicode:'\e1c8';
}

.clny-affs:before {
  --unicode: '\e278';
}

.clny-affs:after {
  --unicode: '\e280';
}

.estls-content ul li:before {
  --unicode: '/e46a';
}
