#donny-e {
  --main:202,171,104;
  --accent:202,122,104;
  --unicode: '\e900'; 
}

#kit-e {
  --main:127,145,176;
  --accent:134,127,176;
  --unicode: '\e103'; 
}

#olga-e {
  --main:219,138,153;
  --accent:219,138,194;
  --unicode: '\e009'; 
}
