.ff-oaw {
  background:rgba(var(--lgray), 0.5);
  background:linear-gradient(to bottom right, rgba(var(--lgray), 0.5), rgba(var(--g1), 0.25));
  color:rgba(var(--black)); 
  border:1px solid rgba(var(--g1), 0.25);
  padding:0px 30px 30px 30px;
  border-radius:25px;
  margin:60px auto 30px;
  width:75%;
  font-family:urbanist;
  font-weight:400;
  font-size:15.5px;
  line-height:22px;
  position:relative;
  
--white:231,231,231;
--lgray: 207,207,207;
--dgray:194,194,194;
--black:62,62,62;
}

.ff-oaw b {
  font-weight:700;
  color:rgba(var(--g1));
}

.ff-oaw i {
  opacity:0.75;
}

.ff-oaw u {
  font-weight:600;
  text-decoration:none;
  border-bottom:1px solid rgba(var(--g1), 0.25);
}

.ff-oaw img {
  margin:auto;
  display:block;
  text-align:center;
  background:rgba(var(--g1), 0.5);
  background:linear-gradient(to bottom right, rgba(var(--g1)), rgba(var(--g1), 0.25));
  border:1px solid rgba(var(--g1), 0.25);
  width:24px;
  height:24px;
  padding:16px;
  border-radius:100%;
  margin-bottom:25px;
  position:absolute;
  top:-28px;
  z-index:2;
  left:130px;
}

.ff-oaw:before {
  content:'\e93f';
  font-family:starry;
  position:absolute;
  background:rgba(var(--white));
  width:25px;
  height:25px;
  padding:15px;
  text-align:Center;
  font-size:25px;
  border-radius:100%;
  top:-28px;
  left:60px;
  color:rgba(var(--g1), 0.75);
  border:1px solid rgba(var(--g1), 0.25);
  z-index:1;
}

.ff-oaw ffblock {
  display:block;
  background:rgba(var(--white));
  border:1px solid rgba(var(--g1), 0.25);
  border-radius:0px 0px 25px 25px;
  padding:60px 30px 45px 30px;
  position:relative;
  border-top:none;
}

.ff-oaw tag {
  display:block;
  padding-top:15px;
  text-align:right;
  position:relative;
}

.ff-oaw tag:before {
  content:'';
  position:absolute;
  left:-30px;
  top:33px;
  display:block;
  height:1px;
  width:37%;
  background:rgba(var(--white));
}

.ff-oaw tag a.user-tagged {
  background:rgba(var(--g1));
  background:linear-gradient(to bottom right, rgba(var(--g1)), rgba(var(--g1), 0.25));
  color:rgba(var(--white));
  padding:12px 15px;
  display:inline-block;
  border-radius:10px;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:700;
  font-size:12px;
  line-height:12px;
  border:1px solid rgba(var(--white));
}

/* GROUP IDS - DEFAULTS */ 

#pos {
  --g1:92,182,160;
}

#neu {
  --g1:81,126,199;
}

#neg {
  --g1:210,63,104;
}
