.heartthrob {
  margin:25px auto;
  background:rgba(var(--black));
    background:linear-gradient(to bottom right, rgba(var(--black), 0.75), rgba(var(--black)));
  border-radius:20px;
  width:450px;
  position:relative;
  color:rgba(var(--black));
  font-size:15px;
  line-height:22px;
  font-family:urbanist;
  font-weight:500;
  text-align:left;
    
   --bg:243,243,243;
   --brd:218,218,218;
   --black:77,77,77;
}

.ht-wrap {
  background:rgba(var(--bg));
  border-radius:15px 15px 15px 15px;
  padding:37.5px 50px 0px;
}

.ht-date {
  z-index:3;
  position:relative;
  background:rgba(var(--bg));
  padding-right:10px;
  top:11.5px;
  left:0px;
  font-weight:400;
  font-size:15px;
  text-transform:uppercase;
  display:inline-block;
}

.ht-date b {
  margin-right:5px;
  color: rgba(var(--g1));
    background: -webkit-linear-gradient(bottom left, rgba(var(--g1)), rgba(var(--g2)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-weight:700;
}

.ht-body {
  display:block;
  z-index:1;
  position:relative;
  border-right:1px solid rgba(var(--brd));
  border-top:1px solid rgba(var(--brd));
  padding:50px 50px 75px 0px;
  border-radius:0px 15px 0px 0px;
  background:rgba(var(--bg));
}

.ht-body:before {
  content:'';
  width:5px;
  height:10px;
  background:rgba(var(--bg));
  display:block;
  position:absolute;
  bottom:36px;
  right:-3px;
}

.ht-body b {
  font-weight:700;
  color: rgba(var(--g1));
    background: -webkit-linear-gradient(bottom left, rgba(var(--g1)), rgba(var(--g2)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ht-body b i {
  opacity:1;
}

.ht-body i {
  opacity:0.75;
}

.ht-body u {
  text-decoration:none;
  border-bottom:1px solid rgba(var(--brd));
  font-weight:600;
}

.ht-body a {
  color:rgba(var(--g1));
  opacity:0.75;
  font-weight:600;
  transition:ease-in-out;
  transition-duration:0.5s;
}

.ht-body a:hover {
  cursor:crosshair;
  opacity:1;
}

.ht-body a:before {
  content:'[';
  color:rgba(var(--black));
  margin-right:4px;
}

.ht-body a:after {
  content:']';
  color:rgba(var(--black));
  margin-left:4px;
}

.ht-body hr {
  height:1px;
  border:none;
  background:rgba(var(--brd));
  margin:35px 125px;
}

.ht-body span.dice-roll {
  background:rgba(var(--brd), 0.5);
  border:1px solid rgba(var(--brd));
  padding:10px;
  border-radius:7.5px;
  display:inline-block;
  margin:0px 5px 0px 0px;
  font-size:12px;
  line-height:12px;
  height:12px;
  text-transform:uppercase;
}

.ht-bottom {
  position:relative;
  min-height:25px;
  padding:25px 75px 25px 25px;
  border-radius:0px 0px 15px 15px;
  display:flex;
  flex-wrap:wrap;
  color:rgba(var(--bg));
  font-weight:400;
  align-content:center;
  gap:12.5px;
}

.ht-bottom a.user-tagged {
  text-transform:uppercase;
  font-size:11px;
  font-weight:600;
  background:rgba(var(--black));
  padding:10px;
  height:11px;
  line-height:11px;
  border-radius:5px;
  transition:ease-in-out;
  transition-duration:0.5s;
  color:rgba(var(--bg))!important;
}

.ht-bottom a.user-tagged:hover {
  background:rgba(var(--g1), 0.85);
  cursor:crosshair;
}

.ht-bottom note {
  display:inline-block;
  padding:4px 0px;
  font-size:13.5px;
}

.ht-icon {
  background:rgba(var(--g1));
  background:linear-gradient(to top left, rgba(var(--g1)), rgba(var(--g2)));
  width:60px;
  height:60px;
  border-radius:15px;
  display:block;
  transform:rotate(45deg);
  position:absolute;
  right:20px;
  top:-30px;
  z-index:3;
}

.ht-icon:before {
  content:var(--unicode);
  font-family:pandora-box;
  display:block;
  transform:rotate(-45deg);
  font-size:30px;
  line-height:60px;
  width:60px;
  height:60px;
  text-align:center;
  color:rgba(var(--bg));
    text-shadow: -1px 0 rgba(var(--g1)), 0 1px rgba(var(--g1)), 1px 0 rgba(var(--g1)), 0 -1px rgba(var(--g1));
  -webkit-font-smoothing: antialiased;
}

#sonnet.ht-icon {
  background:rgba(var(--g1));
  background:linear-gradient(to top left, rgba(var(--g1)), rgba(var(--g2)));
  width:60px;
  height:60px;
  border-radius:15px;
  display:block;
  transform:rotate(45deg);
  position:absolute;
  right:20px;
  top:-30px;
  z-index:3;
}

#sonnet.ht-icon:before {
  content:var(--unicode);
  font-family:starry;
  display:block;
  transform:rotate(-45deg);
  font-size:30px;
  line-height:60px;
  width:60px;
  height:60px;
  text-align:center;
  color:rgba(var(--bg));
    text-shadow: -1px 0 rgba(var(--g1)), 0 1px rgba(var(--g1)), 1px 0 rgba(var(--g1)), 0 -1px rgba(var(--g1));
  -webkit-font-smoothing: antialiased;
}

/************* COLORS & ICONS *************/
#aimee {
  --g1:200,154,200;
  --g2:177,154,200;
  --unicode:'\e00e';
}

#donny {
  --g1:202,171,104;
  --g2:170,135,60;
  --unicode:'\e900';
}

#kit {
  --g1:121,157,125;
  --g2:93,132,128;
  --unicode:'\e103';
}

#lux {
  --g1:202,135,153;
  --g2:179,110,107;
  --unicode:'\e902';
}

#oli {
  --g1:195,151,172;
  --g2:190,111,153;
  --unicode:'\e00d';
}

  /* SONNET */

#egypt {
  --unicode:'\a127';
}

#lune {
  --unicode:'\a46';
}

#milou {
  --unicode:'\e900';
}

#violet {
  --unicode:'\a131';
}
