/****************************************
 MOON BARKS AT THE DOG 
 unique class: .mbd
*****************************************/

@font-face { font-family: 'proxima nova light'; src: url('https://files.jcink.net/uploads2/elysiumship/fonts/Proxima_Nova_Light.ttf'); }
@font-face { font-family: 'proxima nova reg'; src: url('https://files.jcink.net/uploads2/elysiumship/fonts/Proxima_Nova_Reg.ttf'); }
@font-face { font-family: 'proxima nova semi bold'; src: url('https://files.jcink.net/uploads2/elysiumship/fonts/proxima_nova_semibold.ttf'); }
@font-face { font-family: 'proxima nova bold'; src: url('https://files.jcink.net/uploads2/elysiumship/fonts/Proxima_Nova_Bold.ttf'); }

.mbd-wrap {
  position:relative;
  width:650px;
  height:675px;
  margin:25px auto;
  border:1px solid rgba(var(--main), 0.35);
  border-radius:10px;
  overflow:hidden;
  font-family:proxima nova reg;
  font-size:13px;
  line-height:18px;
  color:#4d4d4d;
  text-shadow: -1px 0 rgba(253,253,253, 0.5), 0 1px rgba(253,253,253, 0.5), 1px 0 rgba(253,253,253, 0.5), 0 -1px rgba(253,253,253, 0.5);
}

/****************************************
[MBD] TOGGLE
*****************************************/

#mbd-toggle {
  position:absolute;
  top:0px;
  left:0px;
  width:650px;
  height:675px;
  background:#fbfbfb;
}

#mbd-toggle input { display:none; }
#mbd-toggle label { 
  position:absolute;
  right:-175px;
  top:212.5px;
  z-index:2;
  width:250px;
  height:250px;
  border:1px solid rgba(var(--main), 0.35);
  border-radius:100%;
  text-align:center;
  line-height:100px;
  font-family:merriweather;
  font-weight:900;
  color:rgba(var(--main));
  transform:rotate(-90deg);
  font-size:18px;
  text-transform:lowercase;
  background: -webkit-linear-gradient(360deg, rgba(var(--main)) 35%, rgba(var(--accent)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  display:block;
  text-shadow:none!important;
  cursor:crosshair;
  transition-timing-function: ease-in-out;
  transition-duration:.5s;
}

#mbd-toggle label:before {
  content:'view threads.';
}

#mbd-toggle input:checked+label {
  border:1px solid rgba(var(--main), 0);
  transition-timing-function: ease-in-out;
  transition-duration:.5s;
}

#mbd-toggle input:checked+label:before {
  content:'return home.';
}

#mbd-toggle input:checked+label~.mbd-content {
    left:-400px;
    transition-timing-function: ease-in-out;
    transition-duration:.5s;
  }
  
#mbd-toggle input:checked+label~.mbd-image {
  right:450px;
  transition-timing-function: ease-in-out;
  transition-duration:.5s;
}

#mbd-toggle input:checked+label~.mbd-iwrap {
  right:425px;
  transition-timing-function: ease-in-out;
  transition-duration:.5s;
}

#mbd-toggle input:checked+label~.mbd-year {
  right:477.5px;
  transition-timing-function: ease-in-out;
  transition-duration:.5s;
}

#mbd-toggle input:checked+label~.mbd-tracker {
  right:0px;
  transition-timing-function: ease-in-out;
  transition-duration:.5s;
}

/****************************************
[MBD] HOMEPAGE
*****************************************/

#mbd-toggle .mbd-content {
  position:absolute;
  top:0px;
  left:0px;
  width:650px;
  height:675px;
  background:rgba(var(--main), 0.25);
  background:linear-gradient(45deg, rgba(var(--main), 0.25), rgba(var(--accent), 0.25));
  z-index:1;
  transition-timing-function: ease-in-out;
  transition-duration:.5s;
}

.mbd-content:before {
  content:'';
  display:block;
  position:absolute;
  height:25px;
  width:650px;
  border-bottom:1px solid rgba(var(--main), 0.35);
  top:0px;
}

.mbd-content:after {
  content:'';
  display:block;
  position:absolute;
  height:25px;
  width:650px;
  border-top:1px solid rgba(var(--main), 0.35);
  bottom:0px;
}

.mbd-icon {
  background:#fbfbfb;
  display:block;
  width:40px;
  height:40px;
  padding:5px 10px;
  position:absolute;
  left:145px;
  top:50px;
  border-radius:15px;
}

.mbd-icon:before {
  content:var(--unicode);
  font-family:pandora-box;
  display:block;
  text-align:center;
  font-size:30px;
  line-height:30px;
  padding:5px;
  background: -webkit-linear-gradient(360deg, rgba(var(--main)) 35%, rgba(var(--accent)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  text-shadow:none;
}

#sonnet.mbd-icon:before {
  content:var(--unicode);
  font-family:starry;
}

.mbd-icon:after {
  content:'';
  position:absolute;
  bottom:-10px;
  display:block;
  background:#fbfbfb;
  width:15px;
  height:10px;
  left:22.5px;
  transform:scale(-1);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.mbd-name {
  width:200px;
  position:absolute;
  top:100px;
  left:75px;
  height:50px;
  font-size:25px;
  font-family:merriweather;
  font-weight:900;
  text-align:center;
  line-height:50px;
  background: -webkit-linear-gradient(360deg, rgba(var(--main)) 35%, rgba(var(--accent)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  text-shadow:none;
  text-transform:lowercase;
}

.mbd-name:before {
  content:'';
  display:block;
  width:75px;
  height:100px;
  border:1px solid rgba(var(--main), 0.35);
  border-right:0px;
  border-radius:15px 0px 0px 15px;
  top:-25px;
  left:-25px;
  position:absolute;
}

.mbd-name:after {
  content:'';
  display:block;
  width:75px;
  height:100px;
  border:1px solid rgba(var(--main), 0.35);
  border-left:0px;
  border-radius:0px 15px 15px 0px;
  top:-25px;
  right:-25px;
  position:absolute;
}

.mbd-info {
  display:block;
  position:absolute;
  top:225px;
  left:75px;
  width:225px;
  height:350px;
}

.mbd-info:before {
  content:'';
  display:block;
  position:absolute;
  top:-25px;
  left:-25px;
  width:125px;
  height:400px;
  border-radius:10px 0px 0px 10px;
  border:1px solid rgba(var(--main), 0.35);
  border-right:0px;
}

.mbd-thread {
  display:block;
  height:25px;
  line-height:15px;
  margin-bottom:15px;
  padding-bottom:10px;
  font-size:15px;
  border-bottom:1px solid rgba(var(--main), 0.35);
  border-right:1px solid rgba(var(--main), 0.35);
  border-radius:0px 0px 15px 0px;
}

.mbd-thread span {
  font-size:25px;
  font-family:merriweather;
  font-weight:900;
  background: -webkit-linear-gradient(180deg, rgba(var(--main)) 35%, rgba(var(--accent)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  text-shadow:none;
}

.mbd-thread b {
  font-family:merriweather;
  font-weight:900;
  font-size:13.5px;
  position:relative;
}

.mbd-thread b:before {
  content:'';
  display:inline;
  position:absolute;
  background:rgba(var(--accent), 0.35);
  background:linear-gradient(45deg, rgba(var(--main), 0.35), rgba(var(--accent), 035));
  height:7.5px;
  top:10px;
  left:-2px;
  width:100%;
  z-index:-1;
  padding:0px 2px;
}

.mbd-notes b {
  font-family:merriweather;
  font-weight:900;
  font-size:11.5px;
  position:relative;
}

.mbd-notes b:before {
  content:'';
  display:inline;
  position:absolute;
  background:rgba(var(--accent), 0.35);
  height:7.5px;
  top:7.5px;
  left:-2px;
  width:100%;
  z-index:-1;
  padding:0px 2px;
}

.mbd-notes ul {
display:flex;
flex-wrap:wrap;
margin:0px;
padding:0px;
gap:2.5px;
}

.mbd-notes ul li {
  list-style-type: none;
  display:block;
  padding:10px;
  position:relative;
  font-size:13px;
  line-height:13px;
  width:calc(100% - 20px);
}

.mbd-notes ul li:before {
  content:'*';
  font-size:50px;
  font-family:merriweather;
  display:block;
  position:absolute;
  z-index:-1;
  background: -webkit-linear-gradient(360deg, rgba(var(--main), 0.5) 35%, rgba(var(--accent), 0.25));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  top:0px;
  left:-5px;
  line-height:50px;
  text-shadow:none;
}

.mbd-notes:before {
  content:'overview.';
  font-family:merriweather;
  font-weight:900;
  display:block;
  position:absolute;
  top:-35px;
  font-size:20px;
  right:0px;
  background: -webkit-linear-gradient(180deg, rgba(var(--main)) 35%, rgba(var(--accent)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  text-shadow:none;
}

.mbd-wand {
  position:relative;
  margin:15px 0px;
  padding:15px 15px 0px;
  border:1px solid rgba(var(--main), 0.35);
  border-radius:0px 15px 0px 0px;
  border-left:0px;
  border-bottom:0px;
  height:125px;
}

.mbd-wand span, .mbd-wand span2 {
  display:block;
  font-family:merriweather;
  font-weight:900;
  background: -webkit-linear-gradient(180deg, rgba(var(--main)) 35%, rgba(var(--accent)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  text-shadow:none;
  margin-left:-15px;
  font-size:14px;
  line-height:16px;
  text-transform:lowercase;
}

.mbd-wand span2 {
  margin-bottom:5px;
}

.mbd-wand:before {
  content:'wand.';
  font-family:'merriweather';
  font-weight:900;
  display:block;
  line-height:20px;
  font-size:20px;
  position:absolute;
  right:-2.5px;
  bottom:-35px;
  background: -webkit-linear-gradient(180deg, rgba(var(--main)) 35%, rgba(var(--accent)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  text-shadow:none;
}

.mbd-wand b {
  font-family:merriweather;
  font-size:12px;
  position:relative;
  display:inline-block;
}

.mbd-wand b:before {
  content:'';
  position:absolute;
  height:5px;
  width:100%;
  background:rgba(var(--main), 0.5);
  top:11px;
  z-index:-1;
}

#mbd-toggle .mbd-image {
  position:absolute;
  right:125px;
  top:137px;
  width:150px;
  height:400px;
  background-color:#fbfbfb;
  background-position:center;
  background-repeat:no-repeat;
  border-radius:150px;
  transition-timing-function: ease-in-out;
  transition-duration:.5s;
}

.mbd-image:before {
  content:'';
  display:block;
  width:150px;
  height:400px;
  background-color:#fbfbfb;
  filter:grayscale(100%);
  background-position:center;
  background-repeat:no-repeat;
  border-radius:150px;
  z-index:1;
  position:absolute;
  transition-timing-function: ease-in-out;
  transition-duration:.5s;
}

.mbd-image:after {
  content:'';
  display:block;
  position:absolute;
  right:75px;
  top:-137px;
  height:675px;
  width:0px;
  border-right:1px solid rgba(var(--main), 0.35);
}

#mbd-toggle:hover .mbd-image:before {
  filter:grayscale(0%);
  transition-timing-function: ease-in-out;
  transition-duration:.5s;
}

.mbd-iwrap {
  width:200px;
  height:450px;
  top:112px;
  right:100px;
  position:absolute;
  border-radius:150px;
  transition-timing-function: ease-in-out;
  transition-duration:.5s;
}

.mbd-iwrap:before {
  content:'';
  display:block;
  width:200px;
  height:125px;
  border-radius:150px 150px 0px 0px;
  border:1px solid rgba(var(--main), 0.35);
  border-bottom:0px;
  position:absolute;
  top:0px;
  left:0px;
}

.mbd-iwrap:after {
  content:'';
  display:block;
  height:125px;
  border-radius:0px 0px 150px 150px;
  border:1px solid rgba(var(--main), 0.35);
  border-top:0px;
  width:200px;
  position:absolute;
  bottom:0px;
  left:0px;
}

#mbd-toggle .mbd-year {
  background:#fbfbfb;
  padding:10px;
  border-radius:10px;
  font-family:proxima nova semi bold;
  font-size:12px;
  text-transform:uppercase;
  display:block;
  position:absolute;
  bottom:100px;
  right:152.5px;
  z-index:2;
  line-height:12px;
  width:75px;
  text-align:center;
  transition-timing-function: ease-in-out;
  transition-duration:.5s;
}

.mbd-year:before {
  content:'';
  position:absolute;
  bottom:-10px;
  display:block;
  background:#fbfbfb;
  width:15px;
  height:10px;
  left:40px;
  top:-10px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/****************************************
[MBD] TRACKER
*****************************************/

#mbd-toggle .mbd-tracker {
  position:absolute;
  right:-400px;
  top:0px;
  width:400px;
  height:675px;
  transition-timing-function: ease-in-out;
  transition-duration:.5s;
}

.mbd-tracker:before {
  content:'';
  display:block;
  position:absolute;
  width:400px;
  height:624px;
  top:25px;
  border-top:1px solid rgba(var(--main), 0.35);
  border-bottom:1px solid rgba(var(--main), 0.35);
}

.mbd-threads {
  position:relative;
  margin:50px 50px 50px;
  width:calc(100% - 100px);
  height:425px;
  padding-top:25px;
  overflow-x:hidden;
  overflow-y:auto;
  z-index:1;
}

.mbd-threads::-webkit-scrollbar {
  width:0px;
}

.mbd-threads::-webkit-scrollbar-thumb {
  width:0px;
}

.mbd-month {
  position:relative;
  margin:0px 25px 65px;
  display:block;
  min-height:50px;
}

.mbd-month:after {
  content:'';
  display:block;
  position:absolute;
  left:-25px;
  bottom:-25px;
  width:298px;
  height:25px;
  border:1px solid rgba(var(--main), 0.35);
  border-top:0px;
  border-radius:0px 0px 15px 15px;
}

.mbd-date {
  display:block;
  position:sticky;
  top:0px;
  margin-top:0px;
  height:35px;
  right:0px;
  font-size:35px;
  line-height:35px;
  font-family:proxima nova light;
  padding:0px 15px;
  text-align:right;
  background-color:#fbfbfb;
  z-index:2;
}

.mbd-date b {
  font-family:proxima nova light;
  font-weight:normal;
  display:inline-block;
  background:#fbfbfb;
  position:relative;
  top:-17.5px;
  padding-left:15px;
  color:rgba(var(--main), 0.85);
}

.mbd-date span {
  display:inline-block;
  width:30px;
  height:10px;
  font-size:10px;
  transform:rotate(-90deg);
  font-family:merriweather;
  font-weight:900;
  margin-left:-2.5px;
  position:relative;
  line-height:15px;
  top:-27px;
  color:rgba(var(--accent), 0.85);
  background:#fbfbfb;
  padding-bottom:15px;
}

.mbd-date:before {
  content:'';
  display:block;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:25px;
  border:1px solid rgba(var(--main), 0.35);
  border-bottom:0px;
  border-radius:15px 15px 0px 0px;
}

.mbd-date:after {
  content:'';
  display:block;
  background:#fbfbfb;
  position:absolute;
  top:-25px;
  left:0px;
  right:0px;
  height:25px;
  z-index:-1;
}

  /* THREADS */

.thread-o, .thread-e, .thread-ec, .thread-c {
  display:block;
  padding:15px;
  margin-bottom:25px;
  position:relative;
  border:1px solid rgba(var(--accent), 0.35);
  border-bottom:none;
  border-left:none;
  border-radius:0px 15px 0px 0px;
}

.thread-o:before, .thread-e:before, .thread-ec:before, .thread-c:before {
  content:'\e920';
  font-family:starry;
  background:rgba(var(--main), 0.35);
  background:linear-gradient(45deg, rgba(var(--main), 0.35) 35%, rgba(var(--accent), 0.35));;
  font-size:10px;
  line-height:10px;
  padding:2.5px;
  width:10px;
  height:10px;
  position:absolute;
  right:-8px;
  bottom:-5px;
  border-radius:2.5px;
  color:rgba(var(--main));
}

.thread-ec, .thread-c {
  filter:grayscale(100%);
  opacity:0.8;
}

.thread-e:before {
  content:'\a136';
}

.thread-ec:before {
  content:'\a136';
}

.thread-c:before {
  content:'\e908';
}

.thread-o:after, .thread-e:after, .thread-ec:after, .thread-c:after {
  content:'';
  position:absolute;
  bottom:-10px;
  display:block;
  background:rgba(var(--main), 0.35);
  width:5px;
  height:5px;
  right:7px;
  bottom:0px;
  transform:rotate(-90deg);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.thread-o a, .thread-e a, .thread-ec a, .thread-c a {
  display:block;
  font-family:merriweather;
  text-transform:lowercase;
  font-weight:900;
  font-size:15px;
  line-height:20px;
  background: -webkit-linear-gradient(180deg, rgba(var(--main)) 35%, rgba(var(--accent)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  text-shadow:none;
  display:relative;
  z-index:5;
  cursor:crosshair;
}

.thread-o where, .thread-e where, .thread-ec where, .thread-c where {
  position:absolute;
  right:20px;
  bottom:-4px;
  font-family:merriweather;
  font-weight:900;
  font-size:12px;
  text-transform:lowercase;
}

.thread-o where:before, .thread-e where:before, .thread-ec where:before, .thread-c where:before {
  content:'';
  display:inline;
  position:absolute;
  background:rgba(var(--accent), 0.35);
  background:linear-gradient(45deg, rgba(var(--main), 0.35), rgba(var(--accent), 035));
  height:7.5px;
  top:10px;
  left:-2px;
  width:100%;
  z-index:-1;
  padding:0px 2px;
}

.thread-o tag, .thread-e tag, .thread-ec tag, .thread-c tag {
  position:relative;
  display:inline-block;
  text-transform:lowercase;
  margin-right:5px;
}

.thread-o tag:before, .thread-e tag:before, .thread-ec tag:before, .thread-c tag:before {
  content:'*';
  font-family:merriweather;
  font-weight:900;
  font-size:16px;
  position:relative;
  top:4.5px;
  display:inline-block;
  margin-right:2px;
  background: -webkit-linear-gradient(360deg, rgba(var(--main), 0.75) 35%, rgba(var(--accent), 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  text-shadow:none;
}

  /* RELATIONSHIPS */

.mbd-shipwrap {
  width:350px;
  margin:0px 0px;
  height:50px;
  padding:25px;
  position:relative;
}

.mbd-shipwrap:before {
  content:'relationships.';
  font-family:merriweather;
  font-weight:900;
  display:block;
  position:absolute;
  top:-12.5px;
  font-size:20px;
  line-height:25px;
  left:25px;
  background: -webkit-linear-gradient(180deg, rgba(var(--main)) 35%, rgba(var(--accent)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  text-shadow:none;
}

.mbd-shipwrap:after {
  content:'';
  display:block;
  border-top:1px solid rgba(var(--main), 0.35);
  position:absolute;
  top:0px;
  right:0px;
  width:225px;
  height:1px;
}

.mbd-ships {
  display:flex;
  flex-wrap:wrap;
  gap:5px;
  justify-content:flex-start;
  height:50px;
  overflow-y:auto;
  overflow-x:hidden;
}

.mbd-ships ship, .mbd-ships ship-fam, .mbd-ships ship-luv, .mbd-ships ship-neg {
  display:inline-block;
  font-family:merriweather;
  font-weight:900;
  text-transform:lowercase;
  font-size:11px;
  height:15px;
  line-height:15px;
  padding:2.5px 5px;
  border-radius:5px;
  background:linear-gradient(45deg, rgba(var(--main), 0.25), rgba(var(--accent), 0.25));
  color:rgba(93,93,93, 0.85);
}

.mbd-ships ship:before, .mbd-ships ship-fam:before, .mbd-ships ship-luv:before, .mbd-ships ship-neg:before {
  content:'\a125';
  font-family:starry;
  margin-right:5px;
  color:rgba(var(--main));
}

.mbd-ships ship-fam:before {
  content:'\a82';
}
.mbd-ships ship-luv:before {
  content:'\a94';
}

.mbd-ships ship-neg:before {
  content:'\e903';
}

.mbd-ships::-webkit-scrollbar {
  width:0px;
}

.mbd-ships::-webkit-scrollbar-thumb {
  width:0px;
}
