/* PAN'S UNICODES & COLORS */

#pandora {
 --main: 207,147,161;
 --accent: 199,129,146;
 --unicode: '\e008'; 
}

#aimee {
 --main: 191, 135, 201;
 --accent: 176, 129, 185;
 --unicode: '\e00e'; 
}

#donny { 
  --main:  151, 171, 177;
  --accent: 122, 147, 155;
  --unicode: '\e900'; 
}

#elowen {
 --main: 177,108,110;
 --accent: 168,91,94;
 --unicode: '\e00a'; 
}

#jay { 
 --main: 115, 192, 218;
 --accent: 111, 190, 217;
 --unicode: '\e007'; 
}

#jonesy { 
  --main: 170,110,128; 
  --accent: 161,94,114;
 --unicode: '\e003'; 
}

#kit {
 --main: 120, 179, 190;
 --accent: 117, 177, 188;
 --unicode: '\e103'; 
}

#olga {
 --main: 212, 146, 152;
 --accent: 212, 147, 153;
 --unicode: '\e009'; 
}

#otello {
 --main: 195, 151, 134;
 --accent: 185, 135, 115;
 --unicode: '\e102'; 
}

#rory { 
 --main: 147,156,185;
 --accent: 132,142,175;
 --unicode: '\e00b'; 
}

#tilly {
 --main: 155, 148, 185;
 --accent: 138, 130, 174;
 --unicode: '\e002'; 
}

#uri {
 --main: 125, 143, 179;
 --accent: 123, 141, 178;
 --unicode: '\e104'; 
}

#viola {
 --main: 138, 199, 161;
 --accent: 119, 189, 145;
 --unicode: '\e005'; 
}

#wes {
 --main: 149, 175, 194;
 --accent: 142, 170, 190;
 --unicode: '\e901'; 
}

#yseult {
  --main: 178, 145, 161; 
  --accent: 174, 141, 157;
 --unicode: '\e00d'; 
}

/* INTERIM */

#attie { --unicode: '\e000'; }

/* SONNY'S UNICODES & COLORS */
#connie {  
 --main:  117, 117, 147;
 --accent: 110, 110, 132;
 --unicode: '\a79'; 
}

#darcy {  
 --main: 153, 55, 55;
 --accent: 146,68,68;
 --unicode: '\a135'; 
}

#eden {  
 --main: 114,127,93;
 --accent: 104,113,89;
 --unicode: '\a127'; 
}

#jc {
 --main:  149,130,143;
 --accent: 136,120,130;
 --unicode: '\a25'; 
}

#jericho {  
 --main: 168,152,154;
 --accent: 156,137,139;
 --unicode: '\a25'; 
}

#joel {  
 --main: 124,153,181;
 --accent: 108,140,171;
 --unicode: '\a38'; 
}

#lune {  
 --main: 163,178,224;
 --accent: 155,171,221;
 --unicode: '\a46'; 
}

#milou {  
 --main: 157,186,126;
 --accent: 144,176,109;
 --unicode: '\a113'; 
}

#prosper {  
 --main: 182,143,173;
 --accent: 171,126,160;
 --unicode: '\a93'; 
}

#rome {  
 --main:  160,117,121;
 --accent: 146,108,111;
 --unicode: '\a112'; 
}

#tamsen {  
 --main: 160,147,178;
 --accent: 146,130,166;
 --unicode: '\a123'; 
}

#teo {  
 --main: 192,122,82;
 --accent: 172,112,79;
 --unicode: '\a72'; 
}
