@font-face { font-family: 'proxima nova reg'; src: url('https://files.jcink.net/uploads2/elysiumship/fonts/Proxima_Nova_Reg.ttf'); }
@font-face { font-family: 'proxima nova semi bold'; src: url('https://files.jcink.net/uploads2/elysiumship/fonts/proxima_nova_semibold.ttf'); }
@font-face { font-family: 'proxima nova bold'; src: url('https://files.jcink.net/uploads2/elysiumship/fonts/Proxima_Nova_Bold.ttf'); }

.razor-love {
  position:relative;
  width:475px;
  font-family:proxima nova reg;
  font-size:14.25px;
  line-height:21px;
  background:#fbfbfb;
  color:#5b5b5b;
  margin:25px auto;
  border-radius:15px;
  border:10px solid #e6e6e6;
  overflow:hidden;
  z-index:1;
}

.razor-love:before {
  content:'';
  display:block;
  height:200px;
  width:200px;
  border-radius:100%;
  border:1px solid #e6e6e6;
  position:absolute;
  right:-65px;
  top:-85px;
  z-index:-1;
}

.razor-love:after {
  content:'';
  display:block;
  height:250px;
  width:250px;
  border-radius:100%;
  border:1px solid rgba(var(--main), 0.25);
  position:absolute;
  left:-75px;
  bottom:-75px;
  z-index:-1;
}

.rl-body {
  margin-right:100px;
  padding:40px;
  border-right:1px solid #e6e6e6;
}

.rl-date {
  font-family:merriweather;
  text-transform:uppercase;
  font-weight:300;
  font-size:20px!important;
  display:block;
  padding-bottom:20px;
  color:rgba(91,91,91, 0.76);
}

.rl-date b {
  font-family:merriweather!important;
  font-weight:700;
  margin-right:5px;
  color:rgba(var(--accent))!important;
}

.rl-body b {
  font-family:proxima nova bold;
  color:rgba(var(--main));
}

.rl-body i { 
  font-family:merriweather;
  font-size:12px;
  opacity:0.85;
  font-weight:400;
}

.rl-body a {
  font-family:merriweather;
  color:rgba(var(--main));
  font-size:12px;
  font-weight:700;
}

.rl-body u {
  font-family:proxima nova semi bold;
  text-decoration:none;
  padding-bottom:2px;
  border-bottom:1px solid rgba(var(--accent), 0.75);
}

.rl-body hr {
  height:1px;
  margin:40px -40px 40px 0px;
  border:0px;
  background:linear-gradient(90deg, rgba(var(--main), 0.75) 25%, #e6e6e6);
}

.rl-body span.dice-roll {
  background:rgba(var(--accent));
  color:#fbfbfb;
  font-family:proxima nova semi bold;
  padding:5px;
  border-radius:5px;
  text-transform:uppercase;
  font-size:10px;
  background:linear-gradient(155deg, rgba(var(--main), 0.75) 25%, rgba(var(--accent), 0.75));
  text-shadow:-1px 0 rgba(var(--main), 0.5), 0 1px rgba(var(--main), 0.5), 1px 0 rgba(var(--main), 0.5), 0 -1px rgba(var(--main), 0.5);
}

.rl-body span.dice-roll b {
  color:#fbfbfb!important;
  font-family:merriweather;
  font-size:9px;
  font-weight:700;
}

.rl-tag {
  background:rgba(var(--main));
  background:linear-gradient(90deg, rgba(var(--main), 0.75) 25%, rgba(var(--accent), 0.75));
  padding:40px;
  position:relative;
  display:flex;
  flex-wrap:wrap;
  gap:5px;
}

.rl-tag:before {
  content:var(--unicode);
  font-family:'pandora-box';
  -webkit-font-smoothing: antialiased;
  position:absolute;
  display:block;
  height:65px;
  width:50px;
  background:linear-gradient(180deg, rgba(var(--main)), rgba(var(--accent)));
  border-radius:25px 25px 5px 5px;
  top:-40px;
  right:74px;
  border:1px solid #e6e6e6;
  text-align:center;
  line-height:75px;
  font-size:30px;
  color:#fbfbfb;
  text-shadow:-1px 0 rgba(var(--main), 0.85), 0 1px rgba(var(--main), 0.85), 1px 0 rgba(var(--main), 0.85), 0 -1px rgba(var(--main), 0.85);
}

.rl-tag a.user-tagged {
  background:rgba(var(--main));
  text-decoration:none;
  padding:7.5px 10px;
  font-family:proxima nova semi bold;
  text-transform:uppercase;
  color:#fbfbfb;
  text-shadow:-1px 0 rgba(var(--main), 0.85), 0 1px rgba(var(--main), 0.85), 1px 0 rgba(var(--main), 0.85), 0 -1px rgba(var(--main), 0.85);
  font-size:11px;
  border-radius:5px;
  line-height:11px;
}

.rl-tag note {
  width:100%;
  display:block;
  color:#fbfbfb;
  font-size:13px;
  line-height:13px;
  font-family:proxima nova reg;
  text-shadow:-1px 0 rgba(var(--main), 0.85), 0 1px rgba(var(--main), 0.85), 1px 0 rgba(var(--main), 0.85), 0 -1px rgba(var(--main), 0.85);
}
